<!doctype html>
<html lang="ru">
  <body style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; color: #222;">
    <p>Здравствуйте, {{ fio }}!</p>

<p>На основании письма Министерства строительства Российской Федерации от 08.05.2026 № 28108-ИИ/01 «О проведении проверки знаний и подготовки работников учреждения по действиям при совершении или угрозе совершения преступлений в форме вооружённого нападения, размещения взрывного устройства и захвата заложников» всем работникам Федерального автономного учреждения необходимо в двухнедельный срок:</p>

<p>— ознакомиться с размещённым на Портале ФАУ «РосКапСтрой» курсом «Действия работников ФАУ «РосКапСтрой» при угрозе террористического акта на территории организации и в случае его совершения» — <a href="https://portal.roskapstroy.ru/courses/%D1%81ourses-antiterror/">https://portal.roskapstroy.ru/courses/%D1%81ourses-antiterror/</a>;</p>
<p>*Версия для тех кто не подключен к сети ФАУ "РосКапСтрой: <a href="https://disk.roskapstroy.ru/sharing/nU1123MiJ"></a>https://disk.roskapstroy.ru/sharing/nU1123MiJ*</p>
<p>— пройти тестирование по материалам курса на обучающей платформе Учреждения — <a href="https://att.roskapstroy.ru/">https://att.roskapstroy.ru/</a> .</p>

<p>Для входа на обучающую платформу используется доменная учётная запись — те же данные, которые используются для входа в систему на рабочем компьютере.</p>

<p>Ознакомление с курсом и прохождение тестирования являются обязательными для всех работников Учреждения.</p>

<p>В случае возникновения проблем со входом на платформу
тестирования обращайтесь к нам:</p>

<p>+7 (495) 147-77-99 добавочные 1250, 1240, 1230, 1220.</p>

<p>Ответственный за проведение тестирования Начальник отдела обеспечения безопасности и противодействия коррупции Пусачев Андрей Борисович +7 (495) 147-77-99 Добавочный — 1400</p>

<p><b>Данное письмо отправлено автоматически, отвечать на него не нужно</b></p>

</body>
</html>
