<!doctype html>

<html lang="ru">
  <body style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; color: #222;">

<p>Здравствуйте, {{ fio }}!</p>

<p>
  В целях выполнения Плана Министерства строительства и жилищно-коммунального хозяйства Российской Федерации по противодействию коррупции на 2025–2027 годы, а также в соответствии с Федеральным законом от 25 декабря 2008 г. № 273-ФЗ «О противодействии коррупции», Указом Президента Российской Федерации от 2 апреля 2013 г. № 309 «О мерах по реализации отдельных положений Федерального закона "О противодействии коррупции"» и Методическими рекомендациями «Реализация профилактических мероприятий подразделениями кадровых служб федеральных государственных органов по профилактике коррупционных и иных правонарушений», одобренными президиумом Совета при Президенте Российской Федерации по противодействию коррупции (протокол от 25 сентября 2012 г. № 34), всем работникам Учреждения необходимо:
</p>

<p>
  – ознакомиться с размещенным на Портале ФАУ «РосКапСтрой» Тренингом по основам законодательства 
в сфере противодействия коррупции – <a href="https://portal.roskapstroy.ru/courses/%D1%81ourses-anticorruption/">перейти к курсу</a>;
</p>

<p>
  Версия курса для работников, не подключенных к внутренней сети Учреждения, доступна по
  <a href="https://disk.roskapstroy.ru/sharing/PdeXHC3Rx">ссылке</a>.
</p>

<p>
  – пройти тестирование по материалам курса на обучающей платформе Учреждения – <a href="https://att.roskapstroy.ru/">перейти к тестированию</a>.
</p>

<p>
  Ознакомиться с курсом и пройти тестирование необходимо <b>не позднее 31 июля 2026 года</b>.
</p>

<p>
  Для входа на обучающую платформу используется доменная учетная запись – те же логин и пароль, которые используются для входа в систему на рабочем компьютере.
</p>

<p>
  У новых работников логин в большинстве случаев совпадает с частью адреса электронной почты до символа @, например: <b>ivanov.ii</b>.
  У работников, длительное время работающих в Учреждении, логин может быть указан без инициалов, например: <b>ivanov</b>.
</p>

<p>
  Получение данного письма на именной адрес электронной почты означает, что ознакомление с курсом и прохождение тестирования являются для Вас обязательными.
</p>

<p>
  В случае возникновения проблем со входом на обучающую платформу или прохождением тестирования обращайтесь:
</p>

<p>+7 (495) 147-77-99 добавочные 1250, 1230, 1220.</p>

<p>
  Ответственный за проведение тестирования – начальник отдела обеспечения безопасности и противодействия коррупции:<br>
  Пусачев Андрей Борисович +7 (495) 147-77-99 Добавочный — 1400.
</p>

<p>
  <b>Данное письмо отправлено автоматически. Отвечать на него не нужно.</b>
</p>

  </body>
</html>
