<!doctype html>
<html lang="ru">
  <body style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; color: #222;">
    <p>Здравствуйте, {{ fio }}!</p>

    <p>
      Вам необходимо ознакомиться с информационными материалами и пройти установленное тестирование.
    </p>

    <p>
      Материалы: <a href="https://portal.domain.ru/courses">https://portal.domain.ru/courses</a><br>
      Тестирование: <a href="https://tests.domain.ru">https://tests.domain.ru</a>
    </p>

    <p>С уважением,<br>Система тестирования</p>
  </body>
</html>
